{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Disticts_division</title>
    <link rel="stylesheet" href="{% static 'css/Disticts_Files.css' %}">
    <style>
        #Landing-page
        {
            background: yellow url('{% static "images/AP5.jpg" %}') no-repeat 0px 0px scroll;
            background-size: cover;

        }
    </style>
</head>
<body>
    <header>
        <h1>ANDHRA PRADESH DISTICTS</h1>
        <div class="nav-links">
            <button>
                <a href="{% url 'Andhra:States' %}">Home</a>
            </button>
            <button>
                <a href="{% url 'Andhra:History' %}">
                    History
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:Culture' %}">
                    Culture
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:Festivals' %}">Festivals</a>
            </button>
        </div>
    </header>
    <div id="Landing-page">
        <div class="xyz">
            <br></br>
            <h1>
                <a href="{% url 'States:Rayal' %}">RAYALASEEMA  </a>
            </h1>
            <br></br>
            <div>
                <h2>History</h2>
                <br></br>
                <p>
                    During the British era, the Nizam of Hyderabad ceded this area to the British, and hence was called Ceded Districts. 
                    Upon Independence, it was renamed as Rayalaseema as 'seema' was an administrative territorial entity of the Vijayanagara Empire similar to today's districts
                </p>
                <h4>Post independence:-</h4>
                <p>
                    The four districts of the region were part of the Madras Presidency until 1953.
                    From 1953 to 1956, the region was a part of Andhra State and in 1956, the Telangana region was merged with Andhra State to form Andhra Pradesh State.
                    On 2 February 1970, three taluks from Kurnool i.e., Markapur, Cumbum and Giddalur were merged along with some other taluks of Nellore district and Guntur district to form Prakasam district.
                    In February 2014, the Andhra Pradesh Reorganisation Act, 2014 bill was passed by the Parliament of India for the formation of Telangana state comprising ten districts.
                    Hyderabad will remain as a joint capital for 10 years for both Andhra Pradesh and Telangana.The new State of Telangana came into existence on 2 June 2014 after approval from the President of India.
                    The formation of a new state named Telangana from Andhra Pradesh is not considered an amendment to the Constitution of India per article 3 and 4 of that document.
                </p>
                <br></br>
                <h2>Geography</h2>
                <br></br>
                <p>
                    Rayalaseema region is located in the southern region of the state of Andhra Pradesh. The region borders the state of Tamil Nadu to the south, Karnataka to the west and Telangana to the north.
                    Some areas in Coastal Andhra, such as Markapur revenue division, Tirupati district which share similar geography,culture and climate to Rayalaseema.
                </p>
                <br></br>
                <h2>Spiritual destinations</h2>
                <br></br>
                <p>
                    Rayalaseema has many important places of pilgrimage. Tirumala Venkateswara Temple, abode of Lord Venkateswara is one of the richest and the most visited place of worship in the world.
                    [citation needed] The other being Srisailam, Ahobilam, Srikalahasti, Kanipakam, Kadiri, Rayadurgam, Penna Ahobilam, Mahanandi, Mantralayam, Proddatur, Puttaparthi, Yaganti, Lepakshi, Vontimitta, Bramhamgarimatham, Pushpagiri, Nagalapuram, Narayanavanam, etc.
                    Shahi Jamia Masjid in Adoni is one of the oldest constructions in South India, built around 1662 AD by Siddi Masood Khan.
                </p>
                <br></br>
                <h2>Education</h2>
                <br></br>
                    <h3>Universities :-</h3>
                    <p>
                        1.Sri Venkateswara University
                    </p>
                    <p>
                        2.Sri Krishna Devaraya University
                    </p>
                    <p>
                        3.Yogi Vemana University
                    </p>
                    <p>
                        4.Rayalaseema University
                    </p>
                    <p>
                        5.Dr. Abdul Haq Urdu University
                    </p>
                    <p>
                        6.Dravidian University
                    </p>
                    <p>
                        7.Sri Padmavati Mahila Visvavidyalayam
                    </p>
                    <p>
                        8.JNTU Anantapur
                    </p>  
                <br></br>              
            </div>
            <h1>
                <a href="{% url 'States:Kosta' %}">Kostha-Andhra </a>
            </h1>
            <br></br>
            <div>
                <h2>History</h2>
                <br></br>
                <p>
                    The region of Andhra rose to political power during the reign of the Maurya Dynasty. Megasthenes mentioned that Andhra was a flourishing empire of the Satavahanas' since before the common era.
                    Coastal Andhra was also ruled by the famous Chalukyas in between the period of the 7th Century and the 10th century CE.[citation needed] This period was followed by the reign of many other dynasties such as the Cholas, 
                    the Kakatiyas as well as the Vijayanagar Empire.Antarvedi temple on the banks of Godavari in Andhra Pradesh.According to 11th century inscriptions, coastal Andhra is bounded by Mahendragiri mountains (in north-eastern border with Gajapati district of Orissa), 
                    Kalahasti temple (in Chittoor district near the border of Nellore district), Srisailam temple (in Kurnool district near the border of Mahbubnagar district and Prakasham district).
                    The Gajapati and Ganjam districts of Odisha were granted to the French East India Company around 1752. Later they were transferred by the French to the British. Nellore, which extends as far as Ongole Taluk, 
                    was later received from the Nawab of Arcot, under an establishment. Some parts of present-day Nellore and Chittoor were in the hands of Venkatagiri Rajas. The British made an arrangement with the Raja of Venkatagiri in 1802 to claim power in those territories also.
                    The districts of Andhra (Circar) and Rayalaseema were ceded by the Nizam of Hyderabad to the British colonial administration, which became part of Madras Presidency.
                </p>
                <br></br>
                <h2>Geography</h2>
                <br></br>
                <p>
                    Coastal Andhra is located in the eastern region of the state of Andhra Pradesh on the Circar Coast and comprises twelve districts: East Godavari, West Godavari, Guntur, Palnadu, Krishna, Nellore, Kakinada, Prakasam, 
                    NTR, Bapatla, Konaseema and Eluru. It borders Rayalaseema, Uttarandhra regions of the state and the states of Telangana. The presence of the Godavari River, Krishna River and Penna River makes the area fertile for irrigation.
                    The coastal line of this region is the second longest in the country, extending up to 974 km.
                </p>
                <br></br>
                <h2>Rivers, lakes and wetlands</h2>
                <br></br>
                <p>
                    Andhra Pradesh contains 259 coastal wetlands, covering an area of 18,552 km2,out of which 88 are manmade.Lake Kolleru a major lake in Coastal Andhra.[citation needed] Kolleru, a natural sweet-water lake, is situated in the West Godavari district and serves as a 
                    natural flood-balancing reservoir for the two rivers. The lake is also an important habitat for up to 50,000 resident and migratory birds.[citation needed] The lake was declared a wildlife sanctuary in November 1999 under India's Wildlife Protection Act, 
                    and designated a wetland of international importance in November 2002 under the international Ramsar Convention. In this region, the river Akhanda Godavari splits into several distributary branches, including the Gouthami, Vasishta, Vainatheya, and Vruddha Gouthami, before emptying into the Bay of Bengal.
                </p>
        </div>
    </div>
</body>
</html>