{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/Kosta.css' %}">
    <title>Kosta Andra</title>
    <style>
        #Landing-page
        {
            background: yellow url('{% static "images/Kona1.jpg" %}') no-repeat 0px 0px scroll;
            background-size: cover;
            
        }
    </style>
</head>
<body>
    <header>
        <h1>Kosta-ANDHRA DISTICTS</h1>
        <div class="nav-links">
            <button>
                <a href="{% url 'Andhra:States' %}">Home</a>
            </button>
            <button>
                <a href="{% url 'States:Disticts' %}">Disticts
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:History' %}">
                    History
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:Culture' %}">
                    Culture
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:Festivals' %}">Festivals</a>
            </button>
        </div>
    </header>
    <div id="Landing-page">
        <br></br>
        <h1>VIJAYANAGARAM</h1>
        <br>
        <div>
            <h2>History</h2>
            <p>
                Vizianagaram is a city and the headquarters of the Vizianagaram district in the Indian state of Andhra Pradesh.
                It is located in the Eastern Ghats, about 24 km (15 mi) west of the Bay of Bengal and 40 km (25 mi) north-northeast of Visakhapatnam. 
                The city has a population of 228,025 and was established as the capital of the Vizianagaram estate by Raja Vijayaram Raj from the Pusapati dynasty. 
                The rulers had a notable role in the history of the region in the 18th century and were patrons of education and arts.
            </p>
            <h2>Tourism</h2>
            <p>1.Veda Paatashaala</p>
            <p>2.Subrahmanyam Swamy temple</p>
            <p>3. Dwadasa Jyothirlinga</p>
            <p>4.Vizianagaram Fort</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Centurion University of Technology and Management</p>
            <p>*Central Tribal University</p>
            <p>*Maharajah's College</p>
            <p>*Rajah R.S.R.K. Ranga Rao College</p>
        </div>
        <h1>KRISHNA</h1>
        <br>
        <div>
            <h2>History</h2>
            <p>
                The tradition of Krishna appears to be an amalgamation of several independent deities of ancient India, the earliest to be attested being Vāsudeva.
                Vāsudeva was a hero-god of the tribe of the Vrishnis, belonging to the Vrishni heroes, whose worship is attested from the 5th-6th century BCE in the writings of Pāṇini, and from the 2nd century BCE in epigraphy with the Heliodorus pillar.
                At one point in time, it is thought that the tribe of the Vrishnis fused with the tribe of the Yadavas/Abhiras, whose own hero-god was named Krishna.[41] Vāsudeva and Krishna fused to become a single deity, 
                which appears in the Mahabharata, and they started to be identified with Vishnu in the Mahabharata and the Bhagavad Gita.[41] Around the 4th century CE, another tradition, the cult of Gopala-Krishna of the Ābhīras, the protector of cattle, was also absorbed into the Krishna tradition.
            </p>
            <h2>Tourism</h2>
            <p>1.Indrakeeladri ammavaru</p>
            <p>2.Bankey Bihari Temple</p>
            <p>3.Radha Raman Temple</p>
            <p>4.Jagannath Temple, Puri</p>
            <p>5.Dwarkadhish Temple, Dwarka</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Krishna University</p>
            <p>*DR.Y.S.R University</p>
            <p>*Gudlavalleru Engineering College</p>
            <p>*School of Planning and Architecture</p>
        </div>
        <h1>NELLORE</h1>
        <div>
            <h2>History</h2>
            <p>
                Nellore District situated in the South Eastern portion of the state with a coastal length of 163 KM bounded by Bay of Bengal on the East. 
                The district was known as Vikrama Simhapuri until 13th Century and later it came to be referred to as Nellore.
                Historically the district was under the rule of Mouryas, Sathavahanas, Pallavas, Cholas, TelugU cholas, Kakateeyas, Pandyans etc. 
                The great Telugu poet Tikkana Somayaji translated 15 parvas of Sanskrit Mahabharata into Telugu in Nellore.
                It is supposed that Nellore was situated in Dandakaranya forests into which the Aryas first penetrated as adventurous sages with the rise of the Mouryan Empire Nellore also seems to have under its influence and was part of the Ashoka Empire in the 3rd century B.C. 
                It was next included in the Pallava Dominion between the fourth and sixth century A.D
            </p>
            <h2>Tourism</h2>
            <p>1.Sri Mallikarjuna Swamy kamakshi tai temple</p>
            <p>2.Sri Talapagiri Ranaganatha swamy Temple</p>
            <p>3.Penchalakona</p>
            <p>4.Jagannath Temple, Puri</p>
            <p>5.Somasila Dam</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Vikrama Simhapuri University</p>
            <p>*NARAYANA ENGINEERING COLLEGE</p>
            <p>*Gokula Krishna College of Engineering</p>
        </div>
        <h1>GUNTUR</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                Guntur District was formed on the 1st October, 1904 with Head Quarters at Guntur after bifurcating Krishna and Nellore districts. 
                Prior to 1859 there was ‘Guntur District’ with Head Quarters at Guntur but with a different jurisdiction. In 1859, the district was abolished and was divided up between Machilipatnam and Rajahmundry districts 
                which were renamed as Krishna and Godavari. In 1904 Guntur district was constituted into a separate independent district with the areas of the Taluka of Tenali, Bapatla, Guntur, Sattenapalli, Narasaraopet, Vinukonda and Palnadu of old Krishna district and Ongole taluk from Nellore district.
            </p>
            <h2>Tourism</h2>
            <p>1.MANGALAGIRI</p>
            <p>2.Kotappa konda</p>
            <p>3.Aamravati</p>
            <p>4.Budda musium</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Acharya Nagarjuna University</p>
            <p>*Andhra Christian College</p>
            <p>*K L Deemed To Be University</p>
        </div>
        <h1>PRAKASHAM</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                The Prakasam District named in memory of the eminent freedom fighter, later Chief Minister of the composite Madras State and the first Chief Minister of Andhra Pradesh State, 
                late Sri Tanguturi “Prakasam Panthulu, “Andhra Kesari” who was born at Vinodarayuni palem, a hamlet of Kanaparthi village of Naguluppala Padu Mandal of this district. 
                The Prakasam District named in memory of the eminent freedom fighter, later Chief Minister of the composite Madras State and the first Chief Minister of Andhra Pradesh State, 
                late Sri Tanguturi Prakasam Panthulu, “Andhra Kesari”who was born at Vinodarayuni palem, a hamlet of Kanaparthi village of NaguluppalaPadu Mandal of this district.
            </p>
            <h2>Tourism</h2>
            <p>1.Tripurantakam</p>
            <p>2.Sri Chennakesava Swamy Temple</p>
            <p>3.Kothapatnam</p>
            <p>4.Nallamala Forest</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Andhra Kesari University</p>
            <p>*QIS College Of Engineering & Technology</p>
            <p>*PACE Institute of Technology & Sciences </p>
        </div>
        <h1>WEST-GODAVARI</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                West Godavari district or Paschima Godavari Jilla is one of the 26 districts in the Indian state of Andhra Pradesh. 
                The district is situated in Coastal Andhra region of the state. Eluru is the administrative headquarters of the district. 
                As of 2011 census of India, it has an area of 2178.4 Sq. K.Ms and a population of 17,79,935. It is bounded by Eluru district on the west, 
                River Godavari on the east, Krishna District and Bay of Bengal  on the south and the Rajahmundry District on the north.
            </p>
            <h2>Tourism</h2>
            <p>1.Sri Venkateswara Swami temple:</p>
            <p>2.Sri Chennakesava Swamy Temple</p>
            <p>3.Sri Uma Ramalingeswara Swamy Temple</p>
            <p>4.Gowripatnam</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*SRKR Engineering CollegeCollege</p>
            <p>*Sri Vasavi Engineering College and pharmacy</p>
            <p>*Vishnu Institute of Technology </p>
        </div>
        <h1>EAST-GODAVARI</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                East Godavari District, which is one of the largest and most populous districts in the state of Andhra Pradesh, was successively ruled by Mauryas, Sathavahanas, Vishnu Kundins, Eastern Chalukyas, Cholas, etc.,
                and then by the British. It was under the Raj, on April 15, 1925, that East Godavari District was formed as per G.O.No.502. East Godavari is one of the richest districts of the state, in terms of GDP, and is also both the cultural and tourist hub of the state.
            </p>
            <h2>Tourism</h2>
            <p>1.KAKINADA BEACH FESTIVAL</p>
            <p>2.KONASEEMA FESTIVAL</p>
            <p>3.PANDAVA METTA</p>
            <p>4.MAREDUMILLI</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Adikavi Nannaya University</p>
            <p>*Jawaharlal Nehru Technological University</p>
            <p>*Rangaraya Medical College Government college </p>
        </div>
        <h1>SRIKAKULAM</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                Srikakulam District is the extreme Northeastern District of Andhra Pradesh situated within the Geographic Co-Ordinates of 18°-20’ and 19°- 10’ of Northern latitude 
                and 83°-50’ and 84°-50’ of Eastern longitude. The Nagavali, Vamsadhara, Suvarnamukhi, Vegavathi, Mahendratanaya, Gomukhi, Champavathi, Bahuda and Kumbikota Gedda are the important rivers of the District . 
                The Vamsadhara river rises in the Eastern Ghats of Orissa State and enters Srikakulam District in Bhamini Mandal and finally falls into the Bay of Bengal near Kalingapatnam
            </p>
            <h2>Tourism</h2>
            <p>1.Arasavalli</p>
            <p>2.Srikurmam</p>
            <p>3.Salihundam</p>
            <p>4.SrimukhalingamI</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Dr. B.R Ambedkar University</p>
            <p>*Rajiv Gandhi Institute of Medical Sciences</p>
        </div>
        <h1>KAKINADA</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                Kakinada district is a district in the Coastal Andhra Region in the Indian state of Andhra Pradesh. 
                With Kakinada as its administrative headquarters, it was proposed on 26 January 2022 to become one of the resultant twenty six districts in the state after the final notification has been issued on 4 April 2022 by the government of Andhra Pradesh. 
                The district was formed from Kakinada and Peddapuram revenue divisions from East Godavari district
            </p>
            <h2>Tourism</h2>
            <p>1.Kakinada Beach</p>
            <p>2.Annavaram Devasthanam</p>
            <p>3.SAMALKOT</p>
            <p>4.Annavaram</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY </p>
            <p>*JNTU KAKINADA CIVIL ENGINNEERING BLOCK</p>
            <p>*AKNU MSN CAMPUS, KAKINADA </p>
        </div>
        <h1>VISAKHAPATNAM</h1>
        <div>
            <h2>HISTORY</h2>
            <p>
                During the British rule in India, Visakhapatnam emerged as a district in the year 1802. 
                Chicacole (present-day Srikakulam) which was in Visakhapatnam district was incorporated into Ganjam when the latter was formed as a district.
                On 1 April 1936, Bihar and Orissa Province was split to form Bihar Province and Orissa Province. Parts of the Vizagapatam district (i.e., Nabarangpur, Malkangiri, Koraput, Jeypore, Rayagada etc.) and the Ganjam district (excluding Chicacole division) of 
                Madras Presidency were transferred to Orissa Province along with portions of the Vizagapatam Hill Tracts Agency and Ganjam Hill Tracts Agency.[6][7][8] The Chicacole division (i.e., Ichchapuram, Palasa, Tekkali, Pathapatnam and Srikakulam) was merged with Visakhapatnam district.
            </p>
            <h2>Tourism</h2>
            <p>1.SIMHACHALAM</p>
            <p>2.Visakhapatnam beach</p>
            <p>3.KAILASAGIRI</p>
            <p>4.Kambalakonda Eco Tourism Park</p>
            <h2>Education</h2>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Andhra University </p>
            <p>*Damodaram Sanjivayya National Law University</p>
            <p>*GITAM University  </p>
        </div>
    </div>
</body>
</html>