{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Disticts</title>
    <link rel="stylesheet" href="{% static 'css/Rayal_Files.css' %}">
    <style>
        #Landing-page
        {
            background: url('{% static "images/TP2.jpg" %}') no-repeat 0px 0px scroll;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <h1>RAYALASEEMA DISTICTS</h1>
        <div class="nav-links">
            <button>
                <a href="{% url 'Andhra:States' %}">Home</a>
            </button>
            <button>
                <a href="{% url 'States:Disticts' %}">Disticts
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:History' %}">
                    History
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:Culture' %}">
                    Culture
                </a>
            </button>
            <button>
                <a href="{% url 'Andhra:Festivals' %}">Festivals</a>
            </button>
        </div>
    </header>
    <div id="Landing-page">
        <br>
        <h1>KURNOOL</h1>
        <br>
        <div >
            <h2>History</h2>
            <br>
            <p>
                Kurnool is a city in the state of Andhra Pradesh, India. It formerly served as the capital of Andhra State (1953–1956). 
                The city is often referred to as "The Gateway of Rayalaseema". Kurnool is also known as The City of Gem Stones.
                It also serves as the district headquarters of its Kurnool district. As of 2011 census, it is the fifth most populous city in the state with a population of 484,327.
                 It is located on the banks of the Tungabhadra river. Although the area has been inhabited for thousands of years, modern Kurnool was founded in the 16th century CE with the construction of the Konda Reddy Fort.
            </p>
            <br>
            <h2>Tourism</h2>
            <br>
            <p>1.Srisailam</p>
            <p>2.Mantralayam</p>
            <p>3.Yaganti</p>
            <p>4.Belum Caves</p>
            <p>5.Adoni Lakshmamma avva Temple</p>
            <p>6.Urukunda Eranna Swamy Temple</p>
            <p>7.Maddileti Swamy Temple</p>
            <p>8.Nagarjuna Project</p>
            <br>
            <h2>Education</h2>
            <br>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>*Kurnool Medical College</p>
            <p>*Osmania College</p>
            <p>*Rayalaseema University</p>
            <p>*Silver Jubilee Government College</p>
        </div>
        <br>
        <div>
            <h1>Chitoor</h1>
        <div>
            <br>
            <h2>History</h2>
            <br>
            <p>
                Chittoor District was constituted on 1st April, 1911 with the admixture of the Culture and Traditions of three borders states of Andhra Pradesh, Tamilnadu and Karnataka. 
                It then comprised the Taluks of Chittoor, Palamaner and Chandragiri transferred from Old North Arcot District of Tamilnadu, Madanapalle and Voyalpadu Taluks of Kadapa District and 
                Ex-Zamindari areas of Punganur, Srikalahasthi, Puttur and Old Karvetinagar estate. Later, Kangundi Taluk of North Arcot District excluding 22 villages was transferred to Palamaner Taluk on 1st December, 1928. 
                This taluk also gained eight villages which were the enclaves of Mysore (Karnataka) State under the Provinces and States (Absorption of enclaves) Order, 1950. 
                The next major change in the jurisdiction of the district took place on 1st April, 1960 as a result of Pataskar Award consequent on the re-organisation of the state on linguistic basis, a major portion of Tiruthani Taluk was transferred to Chengalpattu district of Tamilnadu.
            </p>
            <br>
            <h2>Tourism</h2>
            <br>
            <p>1.Tirupati</p>
            <p>2.Kanipakam</p>
            <p>3.Srikalahasthi</p>
            <p>4.Tirumal</p>
            <p>5.Horslyhills</p>
            <p>6.Chandragiri</p>
            <p>7.Thalkona</p>
            <p>8.Mahanadi</p>
            <br>
            <h2>Education</h2>
            <br>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>1.Srivenkateswra University</p>
            <p>2.SV atrs college</p>
            <p>3.Pdmavati college</p>
            <p>4.S.G.S college</p>
            <p>5.Ruya Medical college</p>
        </div>
        <br>
        <div>
            <h1>Kadapa</h1>
        <div>
            <br>
            <h2>History</h2>
            <br>
            <p>
                The earliest inscriptional evidence reveals that Kadapa or more precisely ‘Kadapa’ towards the close of tenth Century A.D. was the principal belief that ‘Kadapa’ meaning in Telugu “Threshold” was a convenient camping place for the pilgrims visiting the Lord Venkateswara Temple at Tirupati. It was therefore regarded as “threshold” to it “on the ancient highway”.
                On 19thAugust,2005 nomenclature of “Cuddapah” has been changed as “Kadapa” by the Government of A.P. It was renamed as Y.S.R. District during the year 2010.
                The Y.S.R. District was first formed in early 19th century during the British rule. The District is also considered to be one of the District endowed with rich History, Minerals Flora & Fauna. 
                Sri Krishna Devaraya  of Vijayanagara Empire, Pratap Rudra of Kakatiya dynastry, Sivaji of Maharashtra Emperor, Tipu Sultan and Haider Ali are some of the names associated with the history of this tract. The holy names of the rivers that cut across the District give the land a sanctity of their own.
            </p>
            <br>
            <h2>Tourism</h2>
            <br>
            <p>1.Brahmamgari Matham</p>
            <p>2.Pushpagiri</p>
            <p>3.Gandikota</p>
            <p>4.Vontimitta</p>
            <br>
            <h2>Education</h2>
            <br>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>1.Rajiv Gandhi Institute of Medical Sciences</p>
            <p>2.Yogi Vemana University</p>
            <p>3.IIIT RK VALLEY</p>
            <p>4.KSRM College of Engineering</p>
        </div>
        <br>
        <div>
            <h1>Anathapuram</h1>
        <div>
            <br>
            <h2>History</h2>
            <br>
            <p>
                Ananthapuramu got its name from ‘Anaatasagaram’, a big tank, which means “Endless Ocean”. 
                The villages of Anaantasagaram and Bukkarayasamudram were constructed by Anantaras Chilkkavodeya, the minister of Bukka-I, a Vijayanagar ruler. 
                Some authorities assert that Anaantasagaram was named after Bukka’s queen, while some contend that it must have been known after Anantarasa Chikkavodeya himself, as Bukka had no queen by that name. 
                Anantapur District was formed in the year 1882 having been separated from Bellary district.
            </p>
            <br>
            <h2>Tourism</h2>
            <br>
            <p>1.Lepakshi</p>
            <p>2.Kasapuram</p>
            <p>3.Alurkona</p>
            <p>4.Shlparamam</p>
            <p>5.Gooty Fort</p>
            <br>
            <h2>Education</h2>
            <br>
            <p>The primary and secondary school education is imparted by Government,
                aided and private schools of the School Education Department of the state.
                Notable institutions located in the city include:
            </p>
            <p>1.Sri Krishna Devaraya University</p>
            <p>2.JNT University</p>
            <p>3.central University</p>
            <p>4.Government Medical college</p>
            <br>
            <h3>More information about Disticts</h3>
            <button class="Two">
                <a href="https://en.wikipedia.org ">
                    CLICK HERE
                </a>
            </button>
        </div>
    </div>
</body>
</html>